/train_pix2pix_simulate/SSIM20%/best_generator.pth
/fmi_repair_CGAN_model/saved_models/
/fmi_repair_CGAN_model/images/
/train_pix2pix_simulate/images/
/train_pix2pix_simulate/saved_models/
/FMI_Para_calucate/window_length200/
/FMI_Para_calucate/window_length400/
/FMI_Para_calucate/window_length400-VIT/
/FMI_Para_calucate/windows400-4step-trained/
/FMI_Para_calucate/windows400-parashead-prompt/
/FMI_Para_calucate/windows400-data-range-enhenced/
/FMI_Para_calucate/windows400-data-range-enhenced2/
*.xlsx
*.txt
/fracture_mask_simulate/mask/
/fracture_mask_simulate/mask_temp/
/fracture_mask_simulate/mask_temp2/
